
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Optima;
    font-weight:normal;
    display: flex;
    flex-wrap: wrap;
}
.navbar li{
    flex-basis: 33.3%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-phrase{
    position: fixed;
    width: 100%;
    left:0%;
    padding-top: 10%;
    z-index:2;
    font-family: Optima;
    font-weight:normal;
    font-size: 40px;
    font-style:italic;
    text-align: center;
    opacity: 70%;
}
.main-phrase-writing{
    position: fixed;
    width: 100%;
    left:0%;
    padding-top: 10%;
    z-index:2;
    font-family: Optima;
    font-weight:normal;
    font-size: 40px;
    font-style:italic;
    text-align: center;
    opacity: 20%;
}

.center {
    z-index: -1;
    text-align: center;
}

/* styling page */
.gallery-styling{
    max-width: 30rem;
    max-height: 30rem;
    text-align:center;
    width:100%;
    display:block;
    margin:auto;
    padding-top: 23rem;

}
.gallery-styling img{
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 23px;
}

/* graphic design page */
.gallery-graphic-design{
    max-width: 40rem;
    max-height: 30rem;
    text-align:center;
    width:100%;
    display:block;
    margin:auto;
    padding-top: 23rem;

}
.gallery-graphic-design img{
    width: 100%;
    max-width: 40rem;
    max-height: 30rem;
    margin-top: 10px;
    margin-bottom: 23px;
}

/* writing page */
.writing-content{
    font-family: Optima;
    font-weight:normal;
    font-style:italic;
    width:100%;
    max-width: 40rem;
    max-height: 30rem;
    text-align:center;
    display:block;
    margin:auto;
    padding-top: 23rem;
    margin-bottom: 30rem;
}
.figure{
    width: 100%;
    max-height: 30rem;
    max-width: 30rem;
}

/*contact and instagram*/
.contact-insta{
    position:fixed;
    z-index: 2;
    width: 20%;
    top: 80%;
    left: 0%;
    text-align: left;
    font-family: Optima;
    font-weight:normal;
    font-style:italic;
}
.contact-insta ul{
    list-style-type: none;
}
.contact-insta a{
    display: block;
    color: grey;
    text-decoration: none;
}

.contact-div{
    display: block;
    padding-top: 100px;
    text-align: center;
    font-family: Optima;
    font-weight:normal;
}

.contact-div h1{
    font-weight:normal;
}
.contact-div h{
    font-weight:normal;
}
.xp{
    font-size: 10px;
}
